/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

*{padding: 0;margin: 0;}
body{
    background: #686763 none;
    font-size: 15px;
    font-family: verdana, helvetica, tahoma, arial, san-serif;
}
body.subsite{
    background: #E5E5E5 none;
}
.top-colorstrip{
    height: 15px;
    background: none #205C90;
    box-shadow: 0 5px 25px #555;
    position: relative;
    z-index: 10;
}
.main-wrapper{
    width: 1080px;
    margin: 0 auto;
    background: none white;
    box-shadow: 0 5px 25px #444;
    /*position: relative;*/
    z-index: 5;
}
.footer-wrapper{
    width: 1080px;
    margin: 0 auto;
}
.wrapper{
    padding: 0 10px;
}

/*header*/
.main-header{
    height: 138px;
    overflow: hidden;
    background: none #fff;
}

.top-right-container{
    float:right;
    margin-right: 10px;
}

.logo-container {
    padding-left:10px;
    width: 50%;
    float: left;
}
h1.title{
    margin: 0;
}
h1.title a{
    background: url(../img/logo.jpg) top left no-repeat transparent;
    text-indent: -9999px;
    display: block;
    height: 54px;
    margin-top: 10px;
}
.tagline{
    margin-left: 60px;
    margin-top: -5px;
    width: 425px;
}
/*language*/
ul.language{
    padding: 0;
    margin: 40px 0 15px 0;
    list-style: none;
}
ul.language li{float: left;}
ul.language li a{padding: 0 10px;}
ul.language li:last-child > a{padding-right: 0}
ul.language li.selected a,
ul.language li a:hover{
    color: #000;
}

/*navigation*/
nav{
    background: none #205C90;
    box-shadow: 0 5px 25px #555;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li{
    float: left;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: Frutiger, Candara, Arial, Helvetica, sans-serif;
    padding: 15px;
    display: block;
}
nav ul li.selected a,
nav ul li a:hover{
    background: none #e3e2db;
    color: black;
}
/*content main*/
.main{
    margin-top: 30px;
}
section.main-page{
    width: 790px;
    float: right;
    margin-bottom: 20px;
    padding: 0 10px;
}
section.mini-page{
    margin-bottom: 20px;
    padding: 0 10px;
}
article.main-page{
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 0 10px;
}
article.center-content{
    width: 498px;
    float: left;
    margin-left: 10px;
}
article.right-content{
    width: 768px;
    float: right;
    margin-right: 10px;
}
article.left-content{
    width: 768px;
    float: left;
    margin-left: 10px;
}
article.content{
    margin-right: 10px;
    margin-left: 10px;
}
/*aside*/
aside{
    width: 250px;
    margin: 0 10px;
}
aside.left{float: left;}
aside.right{float: right;}

.portlet-wrapper{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom:20px;
}
ul.navigation-portlet{
    padding: 0;
    list-style: none;
}
ul.navigation-portlet li{
    margin: 10px 0;
    display: block;
}
/*focus area*/
.focus-container{
    background: none bottom #f2f2f2;
    height: 350px;
    overflow: hidden;
    
    box-shadow: 0 5px 25px #555;
}
.slider-img-wrapper{
    width: 522px;
    padding: 10px 0 10px 10px;
    float: left;
}
.mini-page .slider-img-wrapper{
    width: 792px;
}
.slider-nav-wrapper{
    width: 258px;
    height: 350px;
    float: right;
    background: none #e3e2db;
}
.slider-nav{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.slider-nav li{
    height: 87px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    display: block;
}
ul.slider-nav li:first-child{
    border-top: none;
}
ul.slider-nav li:last-child{
    border-bottom: none;
}
ul.slider-nav li a{
    height: 87px;
    display: block;
}
ul.slider-nav li.selected a,
ul.slider-nav li a:hover{
    width: 303px;
    background: url(../img/slider-arrow.png) 0 0 transparent no-repeat;
    margin-left: -45px;
}
ul.slider-nav li a > div{
    text-align: right;
    color: #000;
    margin: 0 10px;
}
ul.slider-nav li.selected a > div,
ul.slider-nav li.selected a > div h2,
ul.slider-nav li a:hover > div,
ul.slider-nav li a:hover > div h2{
    color: #fff;
    width: 218px;
    float: right;
}
.slider-nav-content h2{
    margin: 0;
}
.slider-nav-content p{
    margin: 0;
}
/*home - news list*/
.news-list-item{margin: 10px 0}
.news-list-container{
    width: 499px;
    padding: 0 10px 10px 0;
    float: left;
    border-right: 1px solid #ccc;
}
.news-img{
    width: 239px;
    margin-right: 10px;
    float: left;
    overflow: hidden;
}
.news-content{
    width: 240px;
    margin-left: 10px;
    float: right;
}
.news-list-item h2{
    margin: 0;
    padding: 0;
}

.news-list-morelink {
    font-size:15px;
    text-align:right;
    font-weight:bold;
}
/*home - events list*/
.events-list-container{
    width: 248px;
    float: right;
}
/*footer*/
footer{
    font-size: 20px;
    font-family: Frutiger, Candara, Arial, Helvetica, sans-serif;
    margin-top: 15px;
}
.footer-left{
    float: left;
    width: 50%;
    color: #fff;
}
.footer-right{
    float: right;
    width: 50%;
    text-align: right;
}
.footer-link{
    list-style: none;
}
.footer-link li{
    display: inline-block;
    padding: 0 5px;
}
footer a{
    color: #fff;
}
body.subsite footer a{
    color: #000;
}
body.subsite .footer-left p{
    margin: 10px 0 0;
}
body.subsite .footer-left a{
    padding: 15px 0 15px 68px;
    height: 54px;
    display: block;
    background: url(../img/wcclogo.gif) 0 0 no-repeat transparent;
}

footer a:hover {
    color: #205C90;
}

/*links*/
a{
    text-decoration: none;
    color: #205C90;
}
a:hover{color: #000}

/*headings*/
h1,h2,h3,h4,h5,h6{
    font-family: Frutiger, Candara, Arial, Helvetica, sans-serif;
    color: #205C90;
    font-weight: normal;
}
h2{
    font-size: 24px;
    font-weight: normal;
}
h2.portlet-header{
    border-bottom: 1px solid #205C90;
    padding-bottom: 10px;
    margin-bottom: 0;
}

/*columns*/
.three-col-items > div{
    width: 242px;
    float: left;
    margin: 0 10px;
}
.three-col-items > div:first-child{margin-left: 0}
.three-col-items > div:last-child{margin-right: 0}
.three-col-items > div p{text-align: justify}

/*search*/
.search-container{
    height: 40px;
}
.search-portlet{
    width: 100%;
    position: relative;
}
.search-portlet input[type="text"]{
    width: 90%;
    border: 1px solid #000;
    padding: 10px 5%;
}
.search-portlet input[type="submit"]{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 9px;
    right: -9px;
    border: none;
    background: url(../img/button-search.jpg) no-repeat 0 0 transparent;
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
    text-indent: -9999em;
}

/*donate*/
.donation-portlet a{
    background: #205C90 none;
    display: block;
    color: #fff;
    padding: 15px;
    font-size: 25px;
    text-align: center;
    margin-bottom:20px;
}

/*social portlet*/
.social-container{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom:20px;
    width: 222px;
}
.social-portlet{
    height: 32px;
    font-family: Frutiger, Candara, Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.social-portlet > div{
    float: left;
}
.social-portlet .social-label{
    width: 35%;
    padding-top: 5px;
}
.social-portlet .social-icon{
    width: 65%;
}
.social-portlet .social-icon a {
    text-indent: -9999px;
    height: 32px;
    width: 32px;
    display: block;
    float: left;
    margin: 0 2px;
}
.social-icon a.g-plus{
    background: transparent url(../img/social-sprite.png) 0 0 no-repeat;
}
.social-icon a.facebook{
    background: transparent url(../img/social-sprite.png) -43px 0 no-repeat;
}
.social-icon a.twitter{
    background: transparent url(../img/social-sprite.png) -85px 0 no-repeat;
}
.social-icon a.rss{
    background: transparent url(../img/social-sprite.png) -128px 0 no-repeat;
}
/*social hover*/
.social-icon a.g-plus:hover{
    background: transparent url(../img/social-sprite.png) 0 -37px no-repeat;
}
.social-icon a.facebook:hover{
    background: transparent url(../img/social-sprite.png) -43px -37px no-repeat;
}
.social-icon a.twitter:hover{
    background: transparent url(../img/social-sprite.png) -85px -37px no-repeat;
}
.social-icon a.rss:hover{
    background: transparent url(../img/social-sprite.png) -128px -37px no-repeat;
}

/*table*/
table{width: 100%;margin-bottom: 10px;}
td,th{
    padding: 0.5em 1em;
    vertical-align: top;
}
th{
    background: none #205C90;
    color: #fff;
    font-family: Frutiger, Candara, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 18px;
}
tr:nth-of-type(even) { 
    background: #F2F2F2; 
}

/*form*/
form{font-weight: normal;margin-bottom: 10px;}
fieldset{
    border: 1px solid #222;
}
legend{
    font-style: italic;
}
input[type="text"],
input[type="password"]{
    border: 1px solid #000;
    padding: 0.5em;
}
textarea,select{
    border: 1px solid #000;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"]{
    padding: 0.5em;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/*
 * Temporary hack to make table.invisible, visible.
 * This is due to a lot of contents which was copied over, have table with
 * class .invisible - of which, in Typo3, it means the table have invisible
 * borders. But in plone/wcc.theme, it means things goes display:none;
 */

table.invisible {
    visibility:visible;
}

textarea {
    width:100%;
}

#edit-bar  {
    font-size:12px;
}

dl.actionMenu {
    margin:0px;
}

#collectivesocialbar {
    padding:5px;
    margin:5px;
    border-top:1px solid #ccc;
}

#portal-personaltools {
    z-index: 100;
    position: absolute;
    right: 170px;
}
