/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

*{padding: 0;margin: 0;}
body{
    background: #686763 none;
    font-size: 15px;
    font-family: verdana, helvetica, tahoma, arial, san-serif;
}
.top-colorstrip{
    height: 15px;
    background: none #205C90;
    box-shadow: 0 5px 25px #555;
    position: relative;
    z-index: 10;
}
.main-wrapper{
    width: 1080px;
    margin: 0 auto;
    background: none white;
    box-shadow: 0 5px 25px #444;
    /*position: relative;*/
    z-index: 5;
}
.footer-wrapper{
    width: 1080px;
    margin: 0 auto;
}
.wrapper{
    padding: 0 10px;
}

/*header*/
.main-header{
    height: 138px;
    overflow: hidden;
    background: none #fff;
}

.top-right-container{
    float:right;
}

.logo-container {
    padding-left:10px;
    width: 50%;
    float: left;
}
h1.title{
    margin: 0;
}
h1.title a{
    background: url(../img/logo.jpg) top left no-repeat transparent;
    text-indent: -9999px;
    display: block;
    height: 54px;
    margin-top: 10px;
}
.tagline{
    margin-left: 60px;
    margin-top: -5px;
    width: 425px;
}
/*language*/
ul.language{
    padding: 0;
    margin: 40px 0 0;
    list-style: none;
    float:right;
}
ul.language li{float: left;}
ul.language li a{padding: 0 10px;}
ul.language li.selected a,
ul.language li a:hover{
    color: #000;
}

/*navigation*/
nav{
    background: none #205C90;
    box-shadow: 0 5px 25px #555;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li{
    float: left;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: Frutiger, Candara, Arial, Helvetica, sans-serif;
    padding: 15px;
    display: block;
}
nav ul li.selected a,
nav ul li a:hover{
    background: none #e3e2db;
    color: black;
}
/*content main*/
.main{
    margin-top: 30px;
}
section.main-page{
    width: 790px;
    float: right;
    margin-bottom: 20px;
    padding: 0 10px;
}
article.main-page{
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 0 10px;
}
article.right-content{
    width: 768px;
    float: right;
    margin-right: 10px;
}
article.left-content{
    width: 768px;
    float: left;
    margin-left: 10px;
}
article.content{
    margin-right: 10px;
    margin-left: 10px;
}
/*aside*/
aside{
    width: 250px;
    margin: 0 10px;
}
aside.left{float: left;}
aside.right{float: right;}

.portlet-wrapper{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom:20px;
}
ul.navigation-portlet{
    padding: 0;
    list-style: none;
}
ul.navigation-portlet li{
    margin: 10px 0;
    display: block;
}
/*focus area*/
.focus-container{
    background: none bottom #f2f2f2;
    height: 356px;
    
    box-shadow: 0 5px 25px #555;
}
.slider-img-wrapper{
    width: 522px;
    padding: 10px 0 10px 10px;
    float: left;
}
.slider-nav-wrapper{
    width: 258px;
    height: 356px;
    float: right;
    background: none #e3e2db;
}
.slider-nav{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.slider-nav li{
    height: 87px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    display: block;
}
ul.slider-nav li:first-child{
    border-top: none;
}
ul.slider-nav li:last-child{
    border-bottom: none;
}
ul.slider-nav li a{
    height: 87px;
    display: block;
}
ul.slider-nav li.selected a,
ul.slider-nav li a:hover{
    width: 303px;
    background: url(../img/slider-arrow.png) 0 0 transparent no-repeat;
    margin-left: -45px;
}
ul.slider-nav li a > div{
    text-align: right;
    color: #000;
    margin: 0 10px;
}
ul.slider-nav li.selected a > div,
ul.slider-nav li.selected a > div h2,
ul.slider-nav li a:hover > div,
ul.slider-nav li a:hover > div h2{
    color: #fff;
    width: 218px;
    float: right;
}
.slider-nav-content h2{
    margin: 0;
}
.slider-nav-content p{
    margin: 0;
}
/*home - news list*/
.news-list-item{margin: 10px 0}
.news-list-container{
    width: 499px;
    padding: 0 10px 10px 0;
    float: left;
    border-right: 1px solid #ccc;
}
.news-img{
    width: 239px;
    margin-right: 10px;
    float: left;
    overflow: hidden;
}
.news-content{
    width: 240px;
    margin-left: 10px;
    float: right;
}
.news-list-item h2{
    margin: 0;
    padding: 0;
}

.news-list-morelink {
    font-size:15px;
    text-align:right;
    font-weight:bold;
}
/*home - events list*/
.events-list-container{
    width: 248px;
    float: right;
}
/*footer*/
.footer-left{
    float: left;
    width: 50%;
    color: #fff;
}
.footer-right{
    float: right;
    width: 50%;
    text-align: right;
}
.footer-link{
    list-style: none;
}
.footer-link li{
    display: inline-block;
    padding: 0 5px;
}
.footer-link li a{
    color: #fff;
}
.footer-link li a:hover{
    color: #205C90;
}

/*links*/
a{
    text-decoration: none;
    color: #205C90;
}
a:hover{color: #000}

/*headings*/
h1,h2,h3,h4,h5,h6{
    font-family: Frutiger, Candara, Arial, Helvetica, sans-serif;
    color: #205C90;
}
h2{
    font-size: 24px;
    font-weight: normal;
}
h2.portlet-header{
    border-bottom: 1px solid #205C90;
    padding-bottom: 10px;
    margin-bottom: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
