#visual-portal-wrapper {
    width:1080px;
    margin:0 auto;
    border-top:8px solid #b01;
}

ul.navTreeLevel0 {
    font: bold 18px Corbel, Frutiger, "Frutiger 45", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif /* 18px */;
}

dl.portlet ul.navTree li a,
dl.portlet ul.navTree li a:visited {
    color: #000;
}

a.navTreeCurrentItem, 
a.navTreeCurrentItem:visited {
    color: #B01 !important;
}

ul.navTreeLevel1 {
    text-transform:uppercase;
    font-weight:normal;
    font-size:12px;
}

.portletHeader a, .portletHeader a:visited {
    color:#555 !important;
    font-weight:normal;
}
#portlets-below .portletHeader {

    font-size: 14px;
    color: #221B1B;
    font-family: Verdana, Helvetica, Arial, sans-serif; 
    border-top: none;
}
#portlets-below .portletItem a {

    color: rgb(187, 0, 17);
    font-size: 14px;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    text-decoration: none;
    border-bottom: none;
}
#portlets-below .portletItem a:hover {

    text-decoration: underline;
}
#portlets-below .portletItem p {

    color: rgb(85, 85 85);
    font-size: 0.8571em;
    font-family: Verdana,Helvetica,Arial,sans-serif;
    text-decoration: none;
    border-bottom: none;
}

#portlets-below .cell.BelowPortletManager2{

border:solid 10px #DDD;
border-width: 0 1px;
}

