#visual-portal-wrapper {
    width:1080px;
    margin:0 auto;
    border-top:8px solid #b01;
}

ul.navTreeLevel0 {
    font: bold 18px Corbel, Frutiger, "Frutiger 45", "Lucida Sans Unicode", Verdana, Helvetica, Arial, sans-serif /* 18px */;
}

dl.portlet ul.navTree li a,
dl.portlet ul.navTree li a:visited {
    color: #000;
}

a.navTreeCurrentItem, 
a.navTreeCurrentItem:visited {
    color: #B01 !important;
}

ul.navTreeLevel1 {
    text-transform:uppercase;
    font-weight:normal;
    font-size:12px;
}

.portletHeader a, .portletHeader a:visited {
    color:#555 !important;
    font-weight:normal;
}
